



  <md-sidenav-container class="example-container" style="background-color: white">
    <md-sidenav #sidenav class="example-sidenav" align="end">

        <router-outlet></router-outlet>

        <div class="back">
            <button type="button"
              md-button (click)="sidenav.close()"> BACK
            </button>
          </div>

    </md-sidenav >

    <div class="adjust">
    <ul>
        <button class="list-group-item" type="button"
        md-button (click)="sidenav.open()" *ngFor="let topic of topics"
          [routerLink] = "[topic.id]"
          > {{topic.title}}
        </button>
    </ul>
    </div>

  </md-sidenav-container>

