.list-group-item{
  padding: 10px;
}
.example-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 90%;
  left: 200px;

}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

}

.example-sidenav {
  padding: 48%;
}

.adjust{
  position: relative;
  top: 30px;
}

.back{
  position: absolute;
  z-index:1;
}
