
.list-group-item{
  top: 50px;
  position: relative;
  left: 70px;
  width: 80%;


}

.example-form {
  top: 50px;
  left: 70px;
  position: relative;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


