#details-wrapper {
  top: 0;
  right: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: 1;
  border: solid 2px #1955e5;
}

h2 {
  padding-right: 30px;
}

.input {
  width: 98%;
  height: 300px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: solid 2px #1955e5;
  border-radius: 3px;
  background-color: #f8f8f8;
  resize: none;
}

input#message {
  background:#fff;
  border:none;
  outline:none;
  box-shadow:none;
  font-size:1.6em;
  font-weight:300;
  margin-bottom: 3em;
  padding:1.2em .7em;
}

#details-container {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  width:100%;
  right: 50px;
}

#details-container p {
  background:#fff;
  padding:1.4em;
  color:#696969;
  margin: 12px;
  width:auto;
  min-width:200px;
}

img {
  position: relative;
  float: right;

}

.well{
  background-color: #F8F7F2;;
  padding: 25px;
  overflow: hidden;
}

.text{
  font-size: 18px;
  font-style: OpenSans;
  color: #68707d;
  overflow: hidden;
}

.topText{
  font-size: 18px;
  font-style: OpenSans;
  color: #1955e5;
  top: 190px;

}

.topSegment{
  position: relative;
  top: 50px;
}
